---
import Layout from '../layouts/BlogPost.astro';
import Catalogo from '../components/Catalogo.astro';
import Image from "astro/components/Image.astro";
const fotosCatalogo = [
  {
    src: '/airwell.webp',
    alt: 'Airwell catálogo de aire acondicionado',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/airzone-logo.webp',
    alt: 'Airzone catálogo de aire acondicionado',
    href: '#' 
  },
  {
    src: '/ariston.svg',
    alt: 'Clever catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/carrier.webp',
    alt: 'Roth catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/cata-logo.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
 {
    src: '/clivet-logo.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/daikin.svg',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/daitsu.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/ferroli.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/fujitsu.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/haier.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/hisense.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },

  {
    src: '/hitachi.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },

  {
    src: '/hiyasu.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/htw_logo.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },


  {
    src: '/johnson.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },

  {
    src: '/junkers.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/kimikal.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/lg.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/luymar.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/mitsubishi-electric.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/mitsubishi-heavy.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/olimpia.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/panasonic.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/samsung-300x300.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/saunier-duval-300x300.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/sfa-300x300.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/siberzone.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/sodeca.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/soler-palau-300x300.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/technibel.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/toshiba.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/vecamco.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/wigam.webp',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  },

];
---

<Layout
  title="Aire Acondicionado"
  description="Encuentra los mejores sistemas de climatización en Tiendas Achedosol."
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en aire acondicionado.</p>

  <p>Encuentra el producto que buscas de aire acondicionado en Daikin, Haier, Ariston y muchas más.</p>

  <Image src="/aire-acondicionado.jpg" alt="Aire acondicionado en Achedosol" title="Aire acondicionado en Achedosol" width={1200} height={800} />
  <p>Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te asesoramos para que elijas el producto que mejor se adapta a tus necesidades.</p>

  <p>En esta página podrás encontrar toda la información de las mejores marcas del sector. Comprar aire acondicionado es muy fácil con nosotros. También estamos especializados en la gestión y venta de repuestos para aire acondicionado.</p>

  <p>Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de todas las marcas con las que trabajamos.</p>

  <Catalogo fotos={fotosCatalogo} />

</Layout>