---
import Layout from '../layouts/BlogPost.astro';
import Catalogo from '../components/Catalogo.astro';

const fotosCatalogo = [
  {
    src: '/daikin.svg',
    alt: 'Daikin catálogo de aire acondicionado',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/hunter.png',
    alt: 'Hunter catálogo de aire acondicionado',
    href: '#' 
  },
  {
    src: '/clever.png',
    alt: 'Clever catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/roth.png',
    alt: 'Roth catálogo de aire acondicionado',
    href: '#'
  },
  {
    src: '/jimten.png',
    alt: 'Jimten catálogo de aire acondicionado',
    href: '#'
  }
];
---

<Layout
  title="Aire Acondicionado"
  description="Encuentra los mejores sistemas de climatización en Tiendas Achedosol."
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en aire acondicionado.</p>

  <p>Encuentra el producto que buscas de aire acondicionado en Daikin, Haier, Ariston y muchas más.</p>

  <p>Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te asesoramos para que elijas el producto que mejor se adapta a tus necesidades.</p>

  <p>En esta página podrás encontrar toda la información de las mejores marcas del sector. Comprar aire acondicionado es muy fácil con nosotros. También estamos especializados en la gestión y venta de repuestos para aire acondicionado.</p>

  <p>Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de todas las marcas con las que trabajamos.</p>

  <Catalogo fotos={fotosCatalogo} />

</Layout>