---
import Layout from "../layouts/BlogPost.astro";
import Catalogo from "../components/Catalogo.astro";
const fotosCatalogo = [
  {
    src: "/aspes.webp",
    alt: "Ariston catálogo de electricidad",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/bosch.webp",
    alt: "Aparici catálogo de electricidad",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/cata-logo.webp",
    alt: "Junkers catálogo de electricidad",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/fagor.webp",
    alt: "Ferroli catálogo de electricidad",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/lg.webp",
    alt: "Fujitsu catálogo de electricidad",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/simon_logo.webp",
    alt: "Haier catálogo de electricidad",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/soler-palau-300x300.webp",
    alt: "Irsa catálogo de electricidad",
    href: "#" // Sustituye por el enlace al catálogo
  },
   {
    src: '/teka.webp',
    alt: 'Iesa catálogo de electricidad',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/vaillant.webp',
    alt: 'Junkers catálogo de electricidad',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/vecamco.webp',
    alt: 'Junkers catálogo de electricidad',  
    href: '#' // Sustituye por el enlace al catálogo
    },
  
];

---

<Layout
  title="Electricidad"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en electricidad.</p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de electricidad, trabajamos con todas las marcas y fabricantes lideres del
    mercado.
  </p>
  <p>
    Encuentra el producto en electricidad que buscas en Ariston, Aparici, Junkers y
    muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar electricidad es muy fácil con nosotros. También estamos
    especializados en la gestión y venta de repuestos para electricidad.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
  <Catalogo fotos={fotosCatalogo} /> 
</Layout>


