---
import Layout from "../layouts/BlogPost.astro";
import Catalogo from "../components/Catalogo.astro";
const fotosCatalogo = [
  {
    src: "/ariston.svg",
    alt: "Ariston catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/armacell-logo.webp",
    alt: "Aparici catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/ferroli.webp",
    alt: "ACV catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/llobera.webp",
    alt: "Baxi catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/junkers.webp",
    alt: "Buderus catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/lasian.webp",
    alt: "Caminetti catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/orkli.webp",
    alt: "Cointra catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/pelletech.webp",
    alt: "Dinak catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/promasol_logo.webp",
    alt: "Dismol catálogo de energía solar y alternativas",
    href: "#" // Sustituye por el enlace al catálogo
  },
   {
    src: '/roth.webp',
    alt: 'Ariston catálogo de termos, calentadores y calefacción',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/saunier-duval-300x300.webp',
    alt: 'Ariston catálogo de termos, calentadores y calefacción',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/termicol.webp',
    alt: 'Ariston catálogo de termos, calentadores y calefacción',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/tifell-300x300.webp',
    alt: 'Ariston catálogo de termos, calentadores y calefacción',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/ungaro.webp',
    alt: 'Ariston catálogo de termos, calentadores y calefacción',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/vaillant.webp',
    alt: 'Ariston catálogo de termos, calentadores y calefacción',  
    href: '#' // Sustituye por el enlace al catálogo
    },
];

---

<Layout
  title="Energía Solar y Alternativas"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>
    En Tiendas Achedosol te ofrecemos los mejores productos en energía solar y
    alternativas.
  </p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de energía solar y alternativas, trabajamos con todas las marcas y
    fabricantes lideres del mercado.
  </p>
  <p>
    Encuentra el producto en energía solar y alternativas que buscas en Ariston,
    Aparici, Junkers y muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar energía solar y alternativas es muy fácil con nosotros.
    También estamos especializados en la gestión y venta de repuestos para
    energía solar y alternativas.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
  <Catalogo fotos={fotosCatalogo} />
</Layout>
