---
import Layout from "../layouts/BlogPost.astro";
import Catalogo from "../components/Catalogo.astro";
const fotosCatalogo = [
  {
    src: "/crearplast.webp",
    alt: "Ariston catálogo de evacuación y sifonería",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/ferroplast-logo02.webp",
    alt: "Aparici catálogo de evacuación y sifonería",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/fominaya.webp",
    alt: "Cata catálogo de evacuación y sifonería",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/hidrotecnoagua.webp",
    alt: "Ferroli catálogo de evacuación y sifonería",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/hidroten.webp",
    alt: "Fujitsu catálogo de evacuación y sifonería",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/ibide.webp",
    alt: "Haier catálogo de evacuación y sifonería",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/italsan.webp",
    alt: "Irsa catálogo de evacuación y sifonería",
    href: "#" // Sustituye por el enlace al catálogo
  },
   {
    src: '/jimten.webp',
    alt: 'Llobera catálogo de evacuación y sifonería',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/molecor-logo.webp',
    alt: 'Iesa catálogo de evacuación y sifonería',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/terrain.webp',
    alt: 'Junkers catálogo de evacuación y sifonería',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/terrain.webp',
    alt: 'Junkers catálogo de evacuación y sifonería',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/PRHIE_logo.webp',
    alt: 'Junkers catálogo de evacuación y sifonería',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/riuvert.webp',
    alt: 'Junkers catálogo de evacuación y sifonería',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/wirquin.webp',
    alt: 'Junkers catálogo de evacuación y sifonería',  
    href: '#' // Sustituye por el enlace al catálogo
    },

  ];
---

<Layout
  title="Evacuación y Sifonería"
  ,
  description="Lorem ipsum dolor sit amet"
  ,
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en evacuación y sifonería.</p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de evacuación y sifonería, trabajamos con todas las marcas y fabricantes lideres del
    mercado.
  </p>
  <p>
    Encuentra el producto en evacuación y sifonería que buscas en Ariston, Aparici, Junkers y
    muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar grifería es muy fácil con nosotros. También estamos
    especializados en la gestión y venta de repuestos para grifería.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
  <Catalogo fotos={fotosCatalogo} />
</Layout>
