---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Ferretería y Herramientas"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en ferretería y herramientas.</p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de ferretería y herramientas, trabajamos con todas las marcas y fabricantes lideres del
    mercado.
  </p>
  <p>
    Encuentra el producto en ferretería y herramientas que buscas en Ariston, Aparici, Junkers y
    muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar ferretería y herramientas es muy fácil con nosotros. También estamos
    especializados en la gestión y venta de repuestos para ferretería y herramientas.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
</Layout>


