---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Fontanería, Tubos y Accesorios"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>
    En Tiendas Achedosol te ofrecemos los mejores productos en fontanería, tubos
    y accesorios.
  </p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de fontanería, tubos y accesorios , trabajamos con todas las marcas y
    fabricantes lideres del mercado.
  </p>
  <p>
    Encuentra el producto en fontanería, tubos y accesorios que buscas en
    Ariston, Aparici, Junkers y muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar fontanería, tubos y accesorios es muy fácil con
    nosotros. También estamos especializados en la gestión y venta de repuestos
    para fontanería, tubos y accesorios.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
</Layout>
