---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import LatestPosts from '../components/LatestPosts.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Tiendas achedosol</h1>
			<p>
				Este es un modelo de como pretendo plantear la pagina de Achedosol 
			</p>
			<p>
				Aqui pondria los proveedores  pero no se si es obligatorio poner los videos o la imagen de 7 a 7 porque
				ocupan mucho espacio al principio cuando deberia ser mas bien al final de la pagina, ademas el video deberia ser
				algo mas secundario a la hora de dar informacion sobre las tiendas, ya que lo importante es la informacion escrita.
				Por lo tanto creo que seria mejor poner los videos al final de la pagina.
			</p>
			
			<h2>Proveedores</h2>

		<p>

		</p>
		<h2>Ultimas noticias</h2>
<p>
	Pásate por nuestro blog y mantente siempre actualizado con las
	últimas noticias del sector, además de muchos interesantes artículos y consejos.
</p>
<LatestPosts />
		</main>
		<Footer />
	</body>
</html>
