---
import BaseHead from "../components/BaseHead.astro"; 
import Footer from "../components/Footer.astro"; 
import Header from "../components/Header.astro"; 
import Proveedores from "../components/Proveedores.astro";
const proveedores = [
  { src: '/clever.png', alt: 'clever' },
  { src: '/daikin.svg', alt: 'daikin' },
  { src: '/ASP.webp', alt: 'ASP' },
  { src: '/ariston.svg', alt: 'ariston' },
  { src: '/Grohe.svg.png', alt: 'Grohe' },
  { src: '/bombas_ideal.jfif', alt: 'bombas ideal' },
  { src: '/zodiac.png', alt: 'zodiac' },
  { src: '/tecnoagua.jfif', alt: 'tecnoagua' },
  { src: '/sth.jfif', alt: 'sth' },
  { src: '/roth.png', alt: 'roth' },
  { src: '/hunter.png', alt: 'hunter' },
  { src: '/jimten.png', alt: 'jimten' },
];
import Tiendas from "../components/Tiendas.astro";

import LatestPosts from "../components/LatestPosts.astro"; 
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"; 

---
<!doctype html>
<html lang="es">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <style>
  /* ===== LAYOUT GENERAL ===== */


h1, h2{
  margin-top:2.3rem;
  text-align: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {

  h1, h2 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }
}
@media (max-width: 768px) {
h1{
  font-size: 2.5rem;
} 
  main {
    padding: 20px;
  }

}
  </style>
</head>
<body>
  <Header />
  <main>
    <h1>Tiendas Achedosol</h1>

   <Tiendas/>
    <h2>Proveedores</h2>
    <Proveedores logos={proveedores} />

    <!-- ÚLTIMAS NOTICIAS -->
    <h2>Últimas noticias</h2>
    <p>Pásate por nuestro blog y mantente siempre actualizado con las últimas noticias del sector, además de muchos artículos y consejos.</p>
    <LatestPosts />
  </main>
  <Footer />
</body>
</html>
