---
import BaseHead from "../components/BaseHead.astro"; 
import Footer from "../components/Footer.astro"; 
import Header from "../components/Header.astro"; 
import Proveedores from "../components/Proveedores.astro";
import Tiendas from "../components/Tiendas.astro";
import LatestPosts from "../components/LatestPosts.astro"; 
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"; 
import Reviews from "../components/Reviews.astro";
---
<!doctype html>
<html lang="es">
<head>
  <script is:inline>
      // 1. Metemos la lógica en una función
      const applyTheme = () => {
        const theme = (() => {
          if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
            return localStorage.getItem('theme');
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
          }
          return 'light';
        })();

        if (theme === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      };

      // 2. Ejecutamos la función en la carga inicial
      applyTheme();

      // 3. LA MAGIA: Le decimos a Astro que vuelva a ejecutar esto justo después de cambiar de página
      document.addEventListener('astro:after-swap', applyTheme);
    </script>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <style>
  /* ===== LAYOUT GENERAL ===== */


h1, h2{
  margin-top:2.3rem;
  text-align: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {

  h1, h2 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }
}
@media (max-width: 768px) {
h1{
  font-size: 2.5rem;
} 
  main {
    padding: 20px;
  }

}
  </style>
</head>
<body>
  <Header />
  <main>
    <h1>Tiendas Achedosol</h1>

   <Tiendas/>
    <h2>Proveedores</h2>
    <Proveedores/>

    <!-- ÚLTIMAS NOTICIAS -->
    <h2>Últimas noticias</h2>
    <p>Pásate por nuestro blog y mantente siempre actualizado con las últimas noticias del sector, además de muchos artículos y consejos.</p>
    <LatestPosts />
    
    <Reviews />
  </main>
  <Footer />
</body>
</html>
