---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Medición y Regulación"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en medición y regulación.</p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de medición y regulación, trabajamos con todas las marcas y fabricantes lideres del
    mercado.
  </p>
  <p>
    Encuentra el producto en medición y regulación que buscas en Ariston, Aparici, Junkers y
    muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar medición y regulación es muy fácil con nosotros. También estamos
    especializados en la gestión y venta de repuestos para medición y regulación.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
</Layout>

