---
import Layout from '../layouts/BlogPost.astro';
import Catalogo from '../components/Catalogo.astro';
import Image from "astro/components/Image.astro"; 
const fotosCatalogo = [
  {
    src: '/accysa.webp',
    alt: 'Ariston catálogo de medición y regulación',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/arco-logo.webp',
    alt: 'Aparici catálogo de medición y regulación',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/atusa.webp',
    alt: 'Junkers catálogo de medición y regulación',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/batsur.webp',
    alt: 'Ferroli catálogo de medición y regulación',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/biv.webp',
    alt: 'Fujitsu catálogo de medición y regulación',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/caleffi.webp',
    alt: 'Haier catálogo de medición y regulación',
    href: '#' // Sustituye por el enlace al catálogo
  },
  {
    src: '/cohisa-logo.webp',
    alt: 'Irsa catálogo de medición y regulación',
    href: '#' // Sustituye por el enlace al catálogo
  },
   {
    src: '/elster-iberconta.webp',
    alt: 'Iesa catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/emmeti-logo.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/gatell.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
   {
    src: '/genebre.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/honeywell.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/indelcasa.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/mt.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/orkli.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/potermic-300x300.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/sensus-300x300.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/sth.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/electrotaz-logo.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/tiemme-300x300.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/watts.webp',
    alt: 'Junkers catálogo de medición y regulación',  
    href: '#' // Sustituye por el enlace al catálogo
    },

];

---

<Layout
  title="Valvuleria, Medición y Regulación"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en medición y regulación.</p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de medición y regulación, trabajamos con todas las marcas y fabricantes lideres del
    mercado.
  </p>
  <p>
    Encuentra el producto en medición y regulación que buscas en Ariston, Aparici, Junkers y
    muchas más.
  </p>
  <Image src="/medicion.jpg" alt="medicion" title="medicion" width={800} height={400}/>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar medición y regulación es muy fácil con nosotros. También estamos
    especializados en la gestión y venta de repuestos para medición y regulación.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
  <Catalogo fotos={fotosCatalogo} />
</Layout>

