---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Piscinas"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>
    En Tiendas Achedosol te ofrecemos las mejores piscinas del mercado.
  </p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de piscinas,
    trabajamos con todas las marcas y fabricantes líderes del mercado.
  </p>
  <p>
    Encuentra la piscina que buscas en Ariston, Aparici, Junkers y muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas la piscina que mejor se adapta a tus
    necesidades.
  </p>
</Layout>
