---
import Layout from "../layouts/BlogPost.astro";
import Catalogo from "../components/Catalogo.astro";
const fotosCatalogo = [
  {
    src: "/logo-abrisa.webp",
    alt: "Ariston catálogo de riegos",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/azud.webp",
    alt: "Aparici catálogo de riegos",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/cepex.webp",
    alt: "Cata catálogo de riegos",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/claber.webp",
    alt: "Ferroli catálogo de riegos",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/galcon.webp",
    alt: "Fujitsu catálogo de riegos",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/heypar.webp",
    alt: "Haier catálogo de riegos",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/hidroten.webp",
    alt: "Irsa catálogo de riegos",
    href: "#" // Sustituye por el enlace al catálogo
  },
   {
    src: '/hunter.webp',
    alt: 'Llobera catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/irritrol.webp',
    alt: 'Iesa catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/krain.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/naandanjain.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/netafim.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/orbit.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/rainbird.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/safe-rain.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/toro.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },

     {
    src: '/vyrsa_logo.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/weathermatic.webp',
    alt: 'Junkers catálogo de riegos',  
    href: '#' // Sustituye por el enlace al catálogo
    },

];
---

<Layout
  title="Riegos"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en riegos.</p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de riegos, trabajamos con todas las marcas y fabricantes lideres del
    mercado.
  </p>
  <p>
    Encuentra el producto en riegos que buscas en Ariston, Aparici, Junkers y
    muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar riegos es muy fácil con nosotros. También estamos
    especializados en la gestión y venta de repuestos para riegos.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
  <Catalogo fotos={fotosCatalogo} />
</Layout>
