---
import Layout from "../layouts/BlogPost.astro";
import Catalogo from "../components/Catalogo.astro";
const fotosCatalogo = [
  {
    src: "/acquabella-logo.webp",
    alt: "Ariston catálogo de sauna y spa",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/aquavia-logo.webp",
    alt: "Aparici catálogo de sauna y spa",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/astralpool.webp",
    alt: "Cata catálogo de sauna y spa",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/kinedo.webp",
    alt: "Ferroli catálogo de sauna y spa",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/fluidra-300x300.webp",
    alt: "Fujitsu catálogo de sauna y spa",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/helo.webp",
    alt: "Haier catálogo de sauna y spa",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/hidronatur.webp",
    alt: "Irsa catálogo de sauna y spa",
    href: "#" // Sustituye por el enlace al catálogo
  },
   {
    src: '/jacuzzi.webp',
    alt: 'Iesa catálogo de sauna y spa',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/tylo.webp',
    alt: 'Junkers catálogo de sauna y spa',  
    href: '#' // Sustituye por el enlace al catálogo
    },
  
];

---

<Layout
  title="Sauna y Spa"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>En Tiendas Achedosol te ofrecemos los mejores productos en sauna y spa.</p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de sauna y spa, trabajamos con todas las marcas y fabricantes lideres del
    mercado.
  </p>
  <p>
    Encuentra el producto en sauna y spa que buscas en Ariston, Aparici, Junkers y
    muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar sauna y spa es muy fácil con nosotros. También estamos
    especializados en la gestión y venta de repuestos para sauna y spa.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
  <Catalogo fotos={fotosCatalogo} />
</Layout>










