---
import Layout from "../layouts/BlogPost.astro";
import Catalogo from "../components/Catalogo.astro";
const fotosCatalogo = [
  {
    src: "/ath-logo.webp",
    alt: "Ariston catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/ceasa-logo.webp",
    alt: "Aparici catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/cepex.webp",
    alt: "Cata catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/cillit.webp",
    alt: "Ferroli catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/dropson.webp",
    alt: "Fujitsu catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/hidrowater.webp",
    alt: "Haier catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/idegis.webp",
    alt: "Irsa catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
  {
    src: "/kinetico.webp",
    alt: "Junkers catálogo de tratamiento de agua",
    href: "#" // Sustituye por el enlace al catálogo
  },
   {
    src: '/osmofilter.webp',
    alt: 'Iesa catálogo de tratamiento de agua',  
    href: '#' // Sustituye por el enlace al catálogo
    },
     {
    src: '/premiertech-300x300.webp',
    alt: 'Junkers catálogo de tratamiento de agua',  
    href: '#' // Sustituye por el enlace al catálogo
    },
    {
    src: '/waterfilter.webp',
    alt: 'Junkers catálogo de tratamiento de agua',  
    href: '#' // Sustituye por el enlace al catálogo
    }
];

---

<Layout
  title="Tratamiento de Agua"
  description="Lorem ipsum dolor sit amet"
  category="Productos"
>
  <p>
    En Tiendas Achedosol te ofrecemos los mejores productos en tratamiento de
    agua.
  </p>
  <p>
    Somos especialistas en la venta, asesoramiento y distribución de productos
    de tratamiento de agua, trabajamos con todas las marcas y fabricantes
    lideres del mercado.
  </p>
  <p>
    Encuentra el producto en tratamiento de agua que buscas en Ariston, Aparici,
    Junkers y muchas más.
  </p>
  <p>
    Solicita presupuesto sin compromiso o visita nuestras tiendas físicas en
    Estepona, San Pedro de Alcántara, Sotogrande, Sabinillas y Coín, te
    asesoramos para que elijas el producto que mejor se adapta a tus
    necesidades.
  </p>
  <p>
    En esta página podrás encontrar toda la información de las mejores marcas
    del sector. Comprar tratamiento de agua es muy fácil con nosotros. También
    estamos especializados en la gestión y venta de repuestos para tratamiento
    de agua.
  </p>
  <p>
    Consulta nuestros catálogos, tarifas de precios, fichas técnicas y más... de
    todas las marcas con las que trabajamos.
  </p>
  <Catalogo fotos={fotosCatalogo} />
</Layout>
